

/*--New Gallery System--*/

.row {
  display: flex;
  flex-wrap: wrap;
 	float: left;
  background-color: teal;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
  background-color: yellow;
}

.column img {
  margin-top: 8px;
  vertical-align: bottom;
  max-width: 100%;
}


.column video {
	margin-top: 8px;
	vertical-align: bottom;
	width: 100%;
  }

  /*----Gallery Responsive Flex System----*/

